* {
    margin: 0;
    left: 0;
    box-sizing: border-box;
}

main {
    width: 100%;

    .box {
        width: 100%;
        height: 200px;
        // border: 2px solid red;
        background-color: black;

        >h1,
        h4 {
            color: white;
            width: 100%;
            line-height: 40px;
            text-transform: capitalize;
            height: 50%;
            font-family: 'Kanit', sans-serif;
            font-family: 'Lato', sans-serif;




        }

        >h1 {
            padding: 40px 30px;
            font-weight: bold;
            font-size: 2rem;
            // border: 2px solid rgb(18, 202, 95);


        }

        >h4 {
            padding: 0 30px;
            // border: 2px solid rgb(65, 190, 228);

        }
    }

}


.menu {
    width: 100%;
    height: 100px;
    // border: 2px solid blue;
    display: flex;

    >figure {
        height: 100%;
        width: 15%;
        // border: 2px solid red;

        >img {
            width: 100%;
            height: 100%;
            padding: 10px 0;

        }
    }

    >div {
        height: 100%;
        width: 70%;
        // border: 2px solid orangered;
        display: flex;

        >ul {
            width: 100%;
            // height: 100%;
            // border: 2px solid purple;
            // background-color: rgb(200, 230, 35);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            list-style-type: none;

            >li {
                // background-color: aqua;
                // border: 2px solid rgb(167, 89, 26);
                margin-right: 20px;

                &:hover>a {
                    background-color: rgba(128, 128, 128, 0.274);

                }

                >a {
                    width: 100%;
                    // height: 100%;
                    background-color: rgba(128, 128, 128, 0.116);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 20px;
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                    text-transform: capitalize;
                    font-family: 'Source Sans Pro', sans-serif;

                    // border: 2px solid rgb(19, 11, 19);

                }
            }
        }
    }

    >section {
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        // border: 2px solid rgb(25, 0, 255);
        border-radius: 80px;
        margin: 28px 0;
        background-color: rgba(128, 128, 128, 0.116);
        transition: .4s;

        &:hover {
            border: 2px solid blue;
        }


        >input {
            width: 100%;
            height: 60%;
            // border: 2px solid black;
            margin-right: 10px;
            margin-left: 10px;
        }

        i:nth-of-type(2),
        i:nth-of-type(3) {
            width: 30%;
            height: 50%;
            font-size: 20px;

        }

        i:nth-of-type(1) {
            width: 30%;
            height: 50%;
            // border: 2px solid black;
            font-size: 25px;
            padding-left: 10px;
            padding-bottom: 25px;
        }



    }

}

h2 {
    width: 100%;
    height: 120px;
    // border: 1px solid black;
    font-size: 5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.637);
    padding-top: 30px;
}

.pic {
    width: 100%;
    display: flex;
    // border: 2px solid blue;

    >div {

        &:first-child>p,
        &:last-child>p {
            width: 100%;
            line-height: 30px;
            font-size: 20px;
            padding: 30px;
            color: rgba(0, 0, 0, 0.582);
        }

        &:first-child>ul {
            width: 100%;

            >li {
                padding: 10px 0;

                >a {
                    color: rgba(0, 0, 0, 0.815);
                    text-decoration: none;

                }
            }
        }

        &:first-child>h3 {
            font-size: 40px;
            padding: 30px;
        }

        &:last-child>aside {
            width: 90%;
            // border: 2px solid rgba(0, 0, 0, 0.096);
            background-color: rgba(128, 128, 128, 0.123);
            padding: 20px;
            margin: 10px 30px;
        }

        &:last-child>article {
            width: 40%;
            background-color: rgb(226, 33, 123);
            color: white;
            padding: 20px;
            font-size: 20px;
            margin: 0 30px;
            transition: .4s;

            &:hover {
                background-color: rgb(177, 24, 95);
            }

        }

        &:last-child>h3 {
            width: 100%;
            line-height: 30px;
            font-size: 20px;
            padding: 5px 30px;
            color: rgba(0, 0, 0, 0.808);
        }


        width: 50%;
        // border: 2px solid rgb(10, 97, 7);

        figure {
            width: 80%;


            img {
                width: 100%;
                height: 100%;
                padding-left: 150px;
            }
        }

        h4 {
            color: rgba(128, 128, 128, 0.925);
            font-size: 20px;
            padding: 50px 20px;
            width: 50%;


        }

    }
}


.text {
    width: 100%;
    // border: 1px solid rgb(110, 35, 209);
    margin-top: 50px;
    display: flex;

    >span {
        width: 85%;
        // border: 1px solid red;
        font-size: 20px;
        color: rgba(128, 128, 128, 0.959);
        line-height: 30px;
        font-family: 'Lato', sans-serif;
        padding: 0 30px;
    }

    >div {
        width: 15%;
        // border: 1px solid rgb(13, 105, 29);

        >h5 {
            width: 100%;
            height: 40%;
            color: rgba(128, 128, 128, 0.911);
            font-family: 'Lato', sans-serif;
            font-size: 15px;
            padding: 10px 5px;
        }

        >figure {
            width: 100%;
            height: 40%;

            >img {
                width: 100%;
                height: 100%;
            }
        }

    }
}